<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Smart Food Scanner</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>GADApplicationIdentifier</key>
	<string>$(GAD_APPLICATION_ID)</string>
	<key>NSCameraUsageDescription</key>
	<string>Scan product barcodes to show simple food insights.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Show a gentle scan reminder when you stay near a supermarket.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Show a gentle scan reminder when you are shopping.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>Send one quiet shopping reminder per day when useful.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Used to show ads that are more relevant to you.</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
